* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #2D3152;
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  font-weight: 300;
  height: 100%;
  line-height: normal;
}

.img {
  width: 100%
}

/* Mobile Starts */

.container {
  display: grid;
  grid-template-rows: 94px 327px;
  width: 375px;
}

/* Header Section Starts */
.header {
  background-color: #2D3152;
  border-bottom: 10px solid #cda74e;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 94px;
}

.logo {
  justify-self: end;
}

.title {
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  height: 26px;
  width: 250px;
}

.about-me {
  display: grid;
  grid-template-rows: 104px 51px 50px;
  padding-bottom: 50px;
}

.abstract-bg {
  grid-row: 1;
  opacity: 0.8;
  z-index: -1;
}

h2 {
  align-self: center;
  font-family: 'Mr Dafoe';
  font-size: 60px;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.quote1 {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 3;
  justify-self: center;
  padding-top: 30px;
  width: 347px;
}

.quote1a {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 4;
  justify-self: center;
  padding-top: 8px;
  width: 126px;
}

.quote2 {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 5;
  justify-self: center;
  padding-top: 10px;
  width: 100px;
}
/* Header Section Ends */

/* Bio Section Starts */
.bio-section {
  display: grid;
  grid-gap: 30px;
  grid-template-rows: 50px 415px 435px 329px 135px;
  padding-top: 40px;

}

.bio-tab {
  background-color: #2D3152;
  color: #fff;
  grid-row: 1;
  height: 40px;
  justify-self: stretch;
  padding-bottom: 50px;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
}

.p1 {
  font-weight: lighter;
  grid-row: 2;
  padding-left: 35px;
  height: 440px;
  width: 330px;
}

.p2 {
  font-weight: lighter;
  grid-row: 3;
  padding-left: 35px;
  width: 330px;
}

.p3 {
  font-weight: lighter;
  grid-row: 4;
  padding-left: 35px;
  width: 330px;
}

.p4 {
  font-weight: lighter;
  grid-row: 5;
  padding-left: 35px;
  width: 330px;
}
/* Bio Section Ends */

footer {
  background-color: #2D3152;
  color: #ffffff;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 340px;
  padding-bottom: 40px;
}

.thank-you {
  font-size: 20px;
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
  padding-left: 35px;
  padding-top: 50px;
  width: 340px;
}

.lets-connect {
  align-self: end;
  background-color: #cda74e;
  border-top: 1px solid #cccccc;
  border-right: 2px solid #a3a3a3;
  border-bottom: 2px solid #a3a3a3;
  border-left: 1px solid #cccccc;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
  height: 78px;
  justify-self: center;
  padding: 20px 6px 20px 6px;
  padding-bottom: 20px;
  text-decoration-line: none;
  text-align: center;
  width: 309px;
}

a.lets-connect:link {
  color: #ffffff;
}

/* visited link */
a.lets-connect:visited {
  color: #2d3152;
}

/* hover over link */
a.lets-connect:hover {
  color: #2d3152;
}

/* selected link */
a.lets-connect:active {
  color: #ffffff;
}

.links2 {
  color: #2D3152;
  display: grid;
  font-size: 20px;
  grid-row: 5;
  height: 147px;
  padding-left: 35px;
  padding-top: 20px;
}

/* unvisited link */
a.contact-links:link {
  color: #2D3152;
  text-decoration: none;
}

/* visited link */
a.contact-links:visited {
  color: #B3C7D6;
}

/* hover over link */
a.contact-links:hover {
  color: #CDA74E;
}

/* selected link */
a.contact-links:active {
  color: #D2D6DD;
}

.copy-right {
  color: #2D3152;
  font-size: 10px;
  height: 46px;
  grid-row: 6;
  padding-left: 35px;
  padding-top: 20px;
}

/* Mobile Ends*/
