* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #2D3152;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.img {
  height: auto;
  width: 100%;

}

.container {
  display: grid;
  max-width: 100%;
}

.header {
  background-color: #2D3152;
  border-bottom: 10px solid #cda74e;
  color: #fff;
  display: grid;
  grid-template-rows: 85px 130px;
  height: 224px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  height: 80px;
  justify-self: start;
  padding-left: 40px;
  padding-top: 15px;
  width: 40px;
}

.title {
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
  height: 26px;
  padding-top: 5px;
  place-self: center;
  width: 241px;
}

/* Mobile Starts */

@media only screen and (max-width: 414px) {

ul {
  display: grid;
}

li a {
  display: block;
  padding: 4px;
}

.links {
  font-weight: 400;
  display: block;
  grid-row: 2;
  place-self: center;
}

/* unvisited link */
a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #B3C7D6;
}

/* hover over link */
a:hover {
  color: #CDA74E;
}

/* selected link */
a:active {
  color: #D2D6DD;
}

.abstract-bg {
  grid-row: 1;
  height: 344px;
  opacity: 0.8;
  z-index: -1;
}

.about-me {
  display: grid;
  grid-template-rows: 104px 51px 50px;
  padding-bottom: 50px;
}

h2 {
  align-self: center;
  font-family: 'Mr Dafoe';
  font-size: 60px;
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
}

.quote1 {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 3;
  justify-self: center;
  padding-top: 30px;
  width: 347px;
}

.quote1a {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 4;
  justify-self: center;
  padding-top: 8px;
  width: 126px;
}

.quote2 {
  font-size: 18px;
  font-style: italic;
  font-weight: lighter;
  grid-row: 5;
  justify-self: center;
  padding-top: 10px;
  width: 100px;
}
/* Header Section Ends */

/* Bio Section Starts */
.bio-section {
  display: grid;
  grid-gap: 30px;
  padding-top: 70px;
}

.bio-tab {
  background-color: #2D3152;
  color: #fff;
  grid-row: 1;
  height: 40px;
  justify-self: stretch;
  padding-bottom: 50px;
  text-align: center;
}

h3 {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 400;
}

.p1 {
  font-weight: lighter;
  grid-row: 2;
  padding-left: 35px;
  width: 375px;
}

.p2 {
  font-weight: lighter;
  grid-row: 3;
  padding-left: 35px;
  width: 375px;
}

.p3 {
  font-weight: lighter;
  grid-row: 4;
  padding-left: 35px;
  width: 375px;
}

.p4 {
  font-weight: lighter;
  grid-row: 5;
  padding-left: 35px;
  padding-bottom: 20px;
  width: 375px;
}
/* Bio Section Ends */

footer {
  background-color: #2D3152;
  color: #ffffff;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-gap: 30px;
  height: 330px;
}

.thank-you {
  font-size: 20px;
  grid-column: 1;
  grid-row: 1;
  padding-left: 35px;
  padding-top: 35px;
  width: 375px;
}

.lets-connect {
 background-color: #cda74e;
 color: #fff;
 font-family: 'Poppins';
 font-size: 20px;
 font-weight: 400;
 grid-column: 1;
 grid-row: 2;
 height: 78px;
 place-self: center;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 width: 335px;
}

a.lets-connect:link {
  color: #ffffff;
}

/* visited link */
a.lets-connect:visited {
  background: #d9b052;
  color: #2d3152;
}

/* hover over link */
a.lets-connect:hover {
  background: #2d3152;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* selected link */
a.lets-connect:active {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #2d3152;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding-bottom: 15px;
}

.links2 {
  color: #2D3152;
  display: grid;
  font-weight: 400;
  display: block;
  grid-row: 11;
  padding-top: 20px;
  padding-left: 35px;;
}

/* unvisited link */
a.contact-links:link {
  color: #2D3152;
  text-decoration: none;
}

/* visited link */
a.contact-links:visited {
  color: #B3C7D6;
}

/* hover over link */
a.contact-links:hover {
  color: #CDA74E;
}

/* selected link */
a.contact-links:active {
  color: #D2D6DD;
}

.copy-right {
  color: #2D3152;
  font-size: 10px;
  grid-column: 1;
  grid-row: 12;
  padding-left: 35px;
  padding-top: 10px;
}

/* Mobile Ends*/
