.content,
.section1,
.section2,
.section3,
.project-container {
  display: flex;
  flex-direction: column;
  position: static;
}

.project-info-container1 {
  display: flex;
  flex-direction: column-reverse;
}

.busy-bus-image {
  background-image: url(../images/busy-bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 100%;
  margin-top: 0;
  background-color: #7d93a5;
}

.product-name,
.product-name2,
.product-name3 {
  position: static;
  background-color: #2d3152;
  text-align: center;
  margin-bottom: 50px;
}

.product-image {
  background-color: #7d93a5;
}

.card,
.card2,
.card3 {
  align-self: end;
  background-color: #7d93a5;
  color: #ffffff;
  height: 569px;
  min-width: 385px;
  display: flex;
  flex-direction: column;
}

#projects {
  color: #2d3152;
  font-size: 30px;
  font-weight: 400;
  place-self: center;
  padding-top: 50px;
  text-align: center;
  margin-bottom: 40px;
}

.card {
  height: 415px;
  margin-bottom: 75px;
}

.info2,
.info3 {
  margin: 30px 0 50px 0;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 0;
}

#stringz-button,
#regular-button {
  width: 330px;
  /* margin-left: 12%;
  margin-top: 6%; */
}

#stringz-button:hover,
#regular-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#stringz-button:visited {
  background: #ffffff;
  color: #7d93a5;
}

.card-content-container {
  margin: 25px 0 0 50px;
}

@media (min-width: 880px) {
  .product-image {
    background: none;
    height: 415px;
  }

  .bust-bus-image {
    background: none;
  }
  .project-container {
    position: relative;
  }

  .project-info-container1,
  .project-info-container2,
  .project-info-container3 {
    display: flex;
    flex-direction: row;
    z-index: 5;
    position: static;
    width: 800px;
    margin-left: 36px;
  }

  .project-info-container3 {
    flex-direction: row-reverse;
    margin-left: 15px;
  }

  .project-info-container1 {
    margin-left: 15px;
    width: 50%;
    margin-top: 100px;
  }

  .project-info-container2 {
    position: absolute;
    right: 33px;
    top: 125px;
  }

  .project-info-contianer2 {
    margin-top: 40px;
  }

  .info2,
  .info3 {
    padding: none;
    margin-top: 22px;
    margin-right: 0;
    padding-right: 42px;
  }

  .button {
    margin-bottom: 0;
  }

  #stringz-button {
    margin: 0;
  }

  #vaultage-button {
    margin-top: 50px;
  }

  .accent-border {
    position: absolute;
    border: 3px solid #cda74e;
    left: 73px;
    height: 317px;
    width: 785px;
    top: 50px;
  }

  .product-name {
    position: relative;
    width: 262px;
    top: 100px;
  }

  .product-name2 {
    right: 0;
    position: absolute;
    width: 30%;
  }

  .product-name3 {
    width: 344px;
    margin-top: 30px;
    z-index: 5;
  }

  .section1 {
    display: flex;
    height: 732px;
  }

  .section2 {
    display: flex;
    height: 665px;
  }

  .section3 {
    display: flex;
    height: 800px;
  }

  #projects {
    color: #2d3152;
    font-size: 30px;
    font-weight: 400;
    /* grid-column: 1;
    grid-row: 1; */
    place-self: center;
    padding-top: 50px;
    text-align: center;
  }

  .button-container {
    height: 0;
  }

  .card,
  .card2,
  .card3 {
    width: 430px;
  }

  .product-name,
  .product-name2,
  .product-name3 {
    background-color: #2d3152;
    /* margin-top: 50px;
    padding-bottom: 50px; */
    text-align: center;
    /* z-index: 999; */
    width: 262px;
  }

  .product-name2 {
    margin-top: 30px;
  }

  .accent-border2 {
    position: absolute;
    border: 3px solid #cda74e;
    width: 785px;
    height: 317px;
    right: 89px;
  }

  .accent-border3 {
    position: absolute;
    border: 3px solid #cda74e;
    width: 780px;
    height: 317px;
    left: 73px;
  }

  .product-name h3 .product-name2 h3,
  .product-name3 h3 {
    font-size: 30px;
  }

  .product-name h3,
  .product-name3 h3 {
    text-align: left;
    padding-left: 18px;
  }

  .product-image img,
  .vaultage-image img,
  .busy-bus-image img {
    height: 100%;
    width: 385px;
  }

  .busy-bus-image {
    background-image: url("../images/busy-bus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 450px;
  }

  .card3 {
    width: 450px;
    height: 450px;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 33px;
    padding-top: 21px;
    height: 300px;
  }

  .card h4,
  .card2 h4,
  .card3 h4 {
    font-weight: 600;
    grid-row: 1;
    padding-top: 30px;
    /* padding-left: 35px; */
  }
}

@media (min-width: 1200px) {
  /* .product-image {
    background: none;
    height: 608px;
    width: 665px;
  }

  .bust-bus-image {
    background: none;
  }
  .project-container {
    position: relative;
  }

  .project-info-container1,
  .project-info-container2,
  .project-info-container3 {
    display: flex;
    flex-direction: row;
    z-index: 5;
    position: static;
    width: 1000px;
    margin-left: 36px;
  }

  .project-info-container1 {
    width: 1000px;
    margin-top: 100px;
  }

  .project-info-container2 {
    margin-left: 250px; 
    margin-top: 150px;
    width: 1000px;
  }

  .project-info-contianer2 {
    margin-top: 40px;
  }

  .info2,
  .info3 {
    padding: none;
    margin-top: 40px;
    margin-right: 0;
  }

  .button {
    margin-bottom: 0;
  }

  #stringz-button {
    margin: 0;
  }

  #vaultage-button {
    margin-top: 50px;
  }

  .accent-border {
    position: absolute;
    border: 3px solid #cda74e;
    width: 1175px;
  }

  .product-name {
    position: relative;
    width: 500px;
    top: 100px;
  }

  .product-name2 {
    right: 0;
    position: absolute;
    width: 30%;
  }

  .product-name3 {
    width: 344px;
    margin-top: 30px;
    z-index: 5;
  }

  .section1 {
    display: flex;
    height: 1000px;
  }

  .section2 {
    display: flex;
    height: 800px;
  }

  .section3 {
    display: flex;
    height: 800px;
  }

  #projects {
    color: #2d3152;
    font-size: 50px;
    font-weight: 400;
    place-self: center;
    padding-top: 50px;
    text-align: center;
  }

  .button-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 25px;
  }

  .card {
    width: 40%;
    height: 608px;
  }

  .card2,
  .card3 {
    width: 430px;
  }

  .product-name,
  .product-name2,
  .product-name3 {
    background-color: #2d3152;
    text-align: center;
  }

  .product-name2 {
    margin-top: 30px;
  }

  .accent-border2 {
    position: absolute;
    border: 3px solid #cda74e;
    width: 800px;
    height: 500px;
    left: 380px;
  }

  .accent-border3 {
    position: absolute;
    border: 3px solid #cda74e;
    width: 820px;
    height: 500px;
    left: 200px;
  }

  .product-image img,
  .vaultage-image img,
  .busy-bus-image img {
    height: 100%;
    width: 100%;
  }

  .busy-bus-image {
    background-image: url("../images/busy-bus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 495px;
    width: 495px;
  }

  .card3 {
    width: 450px;
    height: 495px;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding-left: 20px;
    padding-top: 50px;
    height: 250px;
  }

  .card h4,
  .card2 h4,
  .card3 h4 {
    font-size: 26px;
    font-weight: 600;
    grid-row: 1;
    padding-top: 30px;
  } */
}
