* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #2D3152;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  margin: 0;
}

.img {
  height: auto;
  width: 100%;

}

.container {
  display: grid;
  max-width: 100%;
}

.header {
  background-color: #2D3152;
  border-bottom: 10px solid #cda74e;
  color: #fff;
  display: grid;
  grid-template-rows: 85px 130px;
  height: 225px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

.logo {
  grid-column: 1;
  grid-row: 1;
  height: 80px;
  justify-self: start;
  padding-left: 40px;
  padding-top: 15px;
  width: 40px;
}

.title {
  font-weight: 400;
  grid-column: 1;
  grid-row: 1;
  height: 26px;
  padding-top: 5px;
  place-self: center;
  width: 241px;
}

/* Mobile starts */

@media only screen and (max-width: 414px) {

ul {
  display: grid;
}

li a {
  display: block;
  padding: 4px;
}

.links {
  font-weight: 400;
  display: block;
  grid-row: 2;
  place-self: center;
}

/* unvisited link */
a:link {
  color: #ffffff;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #B3C7D6;
}

/* hover over link */
a:hover {
  color: #CDA74E;
}

/* selected link */
a:active {
  color: #D2D6DD;
}
/* Hero starts */
.hero-section {
  display: grid;
  grid-template-rows: 1fr;
}

.abstract-bg {
  grid-column: 1;
  grid-row: 2;
  height: 423px;
  opacity: 0.7;
  z-index: -1;
}

.mobile-portrait {
  grid-column: 1;
  grid-row: 1;
  height: 484px;
}

.mrDafoe {
  font-family: 'Mr Dafoe';
  font-size: 60px;
  grid-column: 1;
  grid-row: 2;
  padding-left: 35px;
  padding-top: 50px;
}

.name {
  font-family: 'Mr Dafoe';
  font-size: 60px;
  grid-column: 1;
  grid-row: 2;
  padding-bottom: 90px;
  place-self: center;
}

.info1 {
  font-weight: 300;
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  padding-left: 35px;
  padding-top: 130px;
  width: 375px;
}
/* Hero section ends */

/* Projects starts */
.content {
  display: grid;
  grid-template-rows: 968px 968px 1fr;
}



.section1 {
  display: grid;
  grid-row-gap: 40px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#projects {
  font-size: 30px;
  font-weight: 400;
  grid-row: 1;
  padding-top: 30px;
  justify-self: center;
}

.product-name {
  background-color: #2D3152;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  grid-column: 1;
  grid-row: 2;
  margin-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.product-image {
  grid-column: 1;
  grid-row: 3;
}

.card {
  align-self: end;
  background-color: #7d93a5;
  box-shadow: 2px 2px #ecedf1;
  color: #ffffff;
  display: grid;
  font-size: 20px;
  grid-column: 1;
  grid-row: 4;
  grid-template-rows: 80px 145px 1fr;
  height: 417px;
}

h4 {
  font-size: 20px;
  font-weight: bolder;
  grid-row: 1;
  padding-left: 35px;
  padding-top: 35px;
}

.info2 {
  font-size: 18px;
  grid-row: 2;
  padding-left: 35px;
  width: 375px;
}

.button {
 background: #7D93A5;
 border: 3px solid #ffffff;
 color: #ffffff;
 font-family: 'Poppins';
 font-size: 20px;
 font-weight: 400;
 grid-column: 1;
 grid-row: 3;
 height: 78px;
 justify-self: center;
 margin-top: 40px;
 padding: 20px;
 text-align: center;
 text-decoration-line: none;
 width: 335px;
}

a.button:link {
  color: #ffffff;
}

/* visited link */
a.button:visited {
 background: #6b7d8c;
 border: 4px solid #ffffff;
 color: #ffffff;
}

/* hover over link */
a.button:hover {
 background: #ffffff;
 border: 3px solid #7D93A5;
 color: #7D93A5;
}

/* selected link */
a.button:active {
 background: #ffffff;
 border: 3px solid #6b7d8c;
 color: #6b7d8c;
}

.section2 {
  display: grid;
  grid-gap: 35px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding-top: 100px;
}

.product-name2 {
  background-color: #2D3152;
  color: #ffffff;
  display: grid;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 500;
  grid-template-rows: 1fr;
  grid-row: 1;
  height: 40px;
  justify-items: center;
  margin-top: 40px;
  padding-bottom: 50px;
}

.bloc-jams-image {
  grid-row: 2;
}

.card2 {
  background-color: #7d93a5;
  box-shadow: 2px 2px #ecedf1;
  color: #ffffff;
  display: grid;
  font-size: 20px;
  grid-row: 3;
  grid-template-rows: 80px 1fr 1fr;
}

.info3 {
  font-size: 18px;
  grid-row: 2;
  padding-left: 35px;
  width: 375px;
}

.section3 {
  display: grid;
  grid-gap: 35px;
  padding-top: 100px;
}

.product-name3 {
  background-color: #2D3152;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 30px;
  font-weight: 500;
  height: 40px;
  grid-column: 1;
  grid-row: 1;
  padding-bottom: 50px;
  text-align: center;
}

.busy-bus-image {
  grid-row: 2;
}

.card3{
  align-self: end;
  background-color: #7d93a5;
  box-shadow: 2px 2px #ecedf1;
  color: #ffffff;
  display: grid;
  font-size: 20px;
  grid-column: 1;
  grid-row: 3;
  grid-template-rows: 80px 145px 1fr;
  height: 417px;
}

/* Project Section Ends */

/* Footer section starts */
footer {
  background-color: #2D3152;
  color: #ffffff;
  display: grid;
  grid-template-rows: 150px 150px;
  grid-gap: 30px;
  height: 330px;
  margin-top: 60px;
}

.thank-you {
  font-size: 20px;
  grid-column: 1;
  grid-row: 1;
  padding-left: 35px;
  padding-top: 35px;
  width: 375px;
}

.lets-connect {
 background-color: #cda74e;
 color: #fff;
 font-family: 'Poppins';
 font-size: 20px;
 font-weight: 400;
 grid-column: 1;
 grid-row: 2;
 height: 78px;
 place-self: center;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 width: 335px;
}

a.lets-connect:link {
  color: #ffffff;
}

/* visited link */
a.lets-connect:visited {
  background: #d9b052;
  color: #2d3152;
}

/* hover over link */
a.lets-connect:hover {
  background: #2d3152;
  border: 2px solid #ffffff;
  color: #ffffff;
}

/* selected link */
a.lets-connect:active {
  background: #ffffff;
  border: 2px solid #ffffff;
  color: #2d3152;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding-bottom: 15px;
}

.links2 {
  color: #2D3152;
  display: grid;
  font-weight: 400;
  display: block;
  grid-row: 11;
  padding-top: 20px;
  padding-left: 35px;;
}

/* unvisited link */
a.contact-links:link {
  color: #2D3152;
  text-decoration: none;
}

/* visited link */
a.contact-links:visited {
  color: #B3C7D6;
}

/* hover over link */
a.contact-links:hover {
  color: #CDA74E;
}

/* selected link */
a.contact-links:active {
  color: #D2D6DD;
}

.copy-right {
  color: #2D3152;
  font-size: 10px;
  grid-column: 1;
  grid-row: 12;
  padding-left: 35px;
  padding-top: 10px;
}
/* Footer ends */

/* Mobile Ends*/
